.playlist-card {
  display: flex;
}

.playlist-card__content {
  display: flex;
}

.playlist-card__image img {
  width: auto;
  height: 100%;
}

.playlist-card__title {
  margin: 0;
  font-family: "roboto";
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 1.57em;
}

.playlist-card__play {
  width: 2.5rem;
  height: 2.5rem;
}
